agm-map{
    height: 80vh;
    width: 80vw;
}

.latitude-input{
    margin-right: 10px;
}

.longitude-input{
    margin-right: 10px;
}

.sendDataButton{
    background-color: rgb(27, 24, 202);
    color: white;
}

